.bg-section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bs-section-header-title {
  font-size: 1.75rem;
  padding: 3rem 0 1rem;
}
.bs-section-headline__main{
    
    width: 100%;
    padding: 2rem 0 1rem;
    margin-bottom: 2rem;

}

.bs-section-header-link {
  position: relative;
  left: -14px;
  color: $link-color;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $link-color-dark;
  }

  &::after {
    content: "";
    width: 14px;
    height: 14px;
    top: 4.5px;
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'%3E%3C/path%3E%3Cpath d='M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z' fill='rgba(62,84,213,1)'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'%3E%3C/path%3E%3Cpath d='M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z' fill='rgba(50,70,182,1)'%3E%3C/path%3E%3C/svg%3E");
      transform: translateX(5px);
      transition: all 0.3s ease-in-out;
    }
  }
}

.bs-section-body {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.bs-store--apps {
  background: rgb(190, 222, 255);
  background: -moz-linear-gradient(180deg,
      rgba(190, 222, 255, 0.5) 0%,
      rgba(235, 245, 255, 0.5) 22%,
      rgba(255, 255, 255, 1) 43%,
      rgba(255, 255, 255, 1) 100%);
  background: -webkit-linear-gradient(180deg,
      rgba(190, 222, 255, 0.5) 0%,
      rgba(235, 245, 255, 0.5) 22%,
      rgba(255, 255, 255, 1) 43%,
      rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(180deg,
      rgba(190, 222, 255, 0.5) 0%,
      rgba(235, 245, 255, 0.5) 22%,
      rgba(255, 255, 255, 1) 43%,
      rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bedeff", endColorstr="#ffffff", GradientType=1);
}

.bs-store--themes {
  background: rgb(207, 233, 185);
  background: -moz-linear-gradient(180deg,
      rgba(207, 233, 185, 0.5) 0%,
      rgba(239, 248, 232, 0.5) 22%,
      rgba(255, 255, 255, 1) 43%,
      rgba(255, 255, 255, 1) 100%);
  background: -webkit-linear-gradient(180deg,
      rgba(207, 233, 185, 0.5) 0%,
      rgba(239, 248, 232, 0.5) 22%,
      rgba(255, 255, 255, 1) 43%,
      rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(180deg,
      rgba(207, 233, 185, 0.5) 0%,
      rgba(239, 248, 232, 0.5) 22%,
      rgba(255, 255, 255, 1) 43%,
      rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cfe9b9", endColorstr="#ffffff", GradientType=1);
}

.bs-hero-container {
  padding: 1.8rem 0rem;
}

.bs-hero-banner {
  position: relative;
}

.bs-hero-banner {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;

  @media screen and (max-width: map-get($breakpoints, "lg")) {
 
    height: 240px;
  }
}

.bs-her-banner_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.75) 62.5%);
  pointer-events: none;
}

.bs-hero-banner_img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.bs-hero-banner_content {
  position: relative;
  z-index: 11;
  display: flex;
  align-items: flex-end;
  height: 100%;
  padding: 2rem 3rem;
  gap: 1rem;
  @media screen and (max-width: map-get($breakpoints, "lg")) {
  padding:   2rem;
  }

}

.bs-hero-apps_icon--container {
  position: static;
  width: 100px;
  height: 100px;

  @media screen and (max-width: map-get($breakpoints, "lg")) {
    width: 72px;
    height: 72px;
  }

}

.bs-hero-banner__title {
  color: $white;
  font-size: 1.5rem;
  font-weight: 500;

  @media screen and (max-width: map-get($breakpoints, "lg")) {
    font-size: 1rem;
  }
}

.bs-hero-banner_company-name {
  color: $white ;
  font-size: 1.1rem;
  font-weight: 400;
  position: relative;


  &::after {
    position: absolute;
    content: '';
    width: 1rem;
    height: 1rem;
    top: 3px;
    right: -21px;
    position: absolute;
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'%3E%3C/path%3E%3Cpath d='M10.007 2.10377C8.60544 1.65006 7.08181 2.28116 6.41156 3.59306L5.60578 5.17023C5.51004 5.35763 5.35763 5.51004 5.17023 5.60578L3.59306 6.41156C2.28116 7.08181 1.65006 8.60544 2.10377 10.007L2.64923 11.692C2.71404 11.8922 2.71404 12.1078 2.64923 12.308L2.10377 13.993C1.65006 15.3946 2.28116 16.9182 3.59306 17.5885L5.17023 18.3942C5.35763 18.49 5.51004 18.6424 5.60578 18.8298L6.41156 20.407C7.08181 21.7189 8.60544 22.35 10.007 21.8963L11.692 21.3508C11.8922 21.286 12.1078 21.286 12.308 21.3508L13.993 21.8963C15.3946 22.35 16.9182 21.7189 17.5885 20.407L18.3942 18.8298C18.49 18.6424 18.6424 18.49 18.8298 18.3942L20.407 17.5885C21.7189 16.9182 22.35 15.3946 21.8963 13.993L21.3508 12.308C21.286 12.1078 21.286 11.8922 21.3508 11.692L21.8963 10.007C22.35 8.60544 21.7189 7.08181 20.407 6.41156L18.8298 5.60578C18.6424 5.51004 18.49 5.35763 18.3942 5.17023L17.5885 3.59306C16.9182 2.28116 15.3946 1.65006 13.993 2.10377L12.308 2.64923C12.1078 2.71403 11.8922 2.71404 11.692 2.64923L10.007 2.10377ZM6.75977 11.7573L8.17399 10.343L11.0024 13.1715L16.6593 7.51465L18.0735 8.92886L11.0024 15.9999L6.75977 11.7573Z' fill='rgba(255,255,255,1)'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;

    @media screen and (max-width: map-get($breakpoints, "lg")) {
      width: 0.8rem;
      height: 0.8rem;
    }

  }

  @media screen and (max-width: map-get($breakpoints, "lg")) {
    font-size: 0.8rem;
  }

}

.bs-filter-section {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding-bottom: 0.8rem;
}

.bs-pagination-container {
  padding: 5rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.bs-paginations {
  display: flex;
  list-style: none;

}

.bs-pagination__link {
  text-decoration: none;
  padding: 8px 14px;
  color: $primaryfont-color;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 50px;

  &.active {
    background-color: $tab-bg;
    color: $black;
  }
}

.bs-pagination-arrow_icon {
  color: $link-color-dark;
}