$primaryfont-color: #505050;
$text-color: #787878;
$text-dark: #434343;
$light-grey: #aaa;

$text-black: #222;

$link-color: #3e54d5;
$link-color-dark: #3246b6;
$border-color: #111010;
$border-dark: #dcdcdc;
$border-light: #e0e0e0;
$tab-bg: #f5f5f5;

$button-bg: #5eb717;
$button-stroke: #7EC545;

$button-outline: #4b9212;
$button-secondary-stroke: #dfdfdf;


$app-store-color: #BEDEFF;

$white: #ffffff;
$black: #000;

$breakpoints: (
  "xs": 0,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
);