

$primaryfont-color:#505050;
$text-color:#787878;
$text-dark:#434343;

$link-color:#3E54D5;
$border-color:#E0E0E0;
$border-dark:#DCDCDC;
$tab-bg:#F5F5F5;

$button-bg:#5EB717;
$button-stroke:#4B9212;
$button-outline:#4B9212;
$button-secondary-stroke:#DFDFDF;

$white:#ffffff;
$black:#000;

